@media only screen and (max-device-width: 850px) and (orientation: portrait) {
  .page {
    height: -webkit-fill-available;
  }
  .game {
    grid-template-columns: 1fr;
    grid-template-rows: 15vh 1fr;
  }

  .game__world-container {
    grid-row: 2;
  }
}
