* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "minecraft", sans-serif;
  background-color: var(--primary-color);
}

.page {
  height: 100vh;
}

/* Index */
.welcome {
  background: url("../images/landingPageBG.jpg") center bottom/cover no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
}

.welcome__btn-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  width: 50vw;
  position: absolute;
  bottom: 8vh;
  gap: 8px;
}

.welcome__btn:hover {
  background-color: var(--hover-btn);
  cursor: pointer;
}

/* TODO Write the explanation and update bg */
/* TODO Add the video as a demo somehow */
.explanation {
  background: url("../images/explanationBG.jpg") center bottom/cover no-repeat;
  display: flex;
  padding: 0 25px 25px 0;
  align-items: flex-end;
  justify-content: flex-end;
}

.settings {
  background: url("../images/explanationBG-basic.jpg") center bottom/cover no-repeat;
  display: flex;
  padding: 0 25px 25px 0;
  align-items: flex-end;
  justify-content: center;
  position: relative;
}

.settings__wrapper {
  width: 100%;
  height: calc(100% - 60px);
  position: absolute;
  top: 60px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#width {
  padding: 2px 10px;
  text-align: center;
}

#width:invalid {
  color: #800419;
}

#welcome__btn-back-settings {
  z-index: 1;
}

/* game */
.game {
  display: grid;
  grid-template-columns: 1fr 150px;
}
.game__world-container {
  overflow-x: scroll;
  overflow-y: hidden;
}

::-webkit-scrollbar {
  height: 7px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-track-piece:start {
  border-radius: initial;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
}

.game__world {
  height: 100%;
  display: grid;
  grid-auto-flow: row;
}

[data-type] {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

[data-type]:hover {
  border: 1px #ffffff80 solid;
}

[data-type="sky"] {
  background-color: var(--sky);
  background-image: none;
}

[data-type="empty"] {
  background-color: #222222;
  background-image: none;
}

[data-type="stone"] {
  background-image: url("../images/blocks/stoneBlock.png");
}

[data-type="log"] {
  background-image: url("../images/blocks/logBlock.png");
}

[data-type="leaf"] {
  background-image: url("../images/blocks/leafBlock.png");
}

[data-type="dirt"] {
  background-image: url("../images/blocks/dirtBlock.png");
}

[data-type="hay"] {
  background-image: url("../images/blocks/hayBlock.png");
}

.cloud {
  background-color: #ffffff;
}

/* tools */
.game__toolkit {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
}

.tools {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 100%;
  height: 170px;
  padding: 10px;
}

.tool__wrapper {
  padding: 3px;
  width: 100%;
  border: 1px solid var(--secondary-color);
  display: grid;
  justify-content: center;
  grid-template-rows: 1fr max-content;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
}

.tool__wrapper:hover {
  cursor: pointer;
  background-color: #555555ea;
}

.tool__photo {
  width: 46px;
  background: center center/contain no-repeat;
}

.tool__name {
  text-align: center;
  padding-top: 2px;
}

[for="axe"] > .tool__photo {
  background-image: url("../images/tools/treeAxe.png");
}

[for="pickaxe"] > .tool__photo {
  background-image: url("../images/tools/stonePickaxe.png");
}

[for="shovel"] > .tool__photo {
  background-image: url("../images/tools/dirtShovel.png");
}

[for="hoe"] > .tool__photo {
  background-image: url("../images/tools/hayHoe.png");
}

/* inventory */
.inventory {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  align-content: center;
}

.inventory__box {
  height: 60px;
}

/* game btns */
.game__btn-wrapper {
  display: grid;
  grid-template-rows: repeat(2, max-content);
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
}
