* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "minecraft", sans-serif;
}

.page {
  height: 100vh;
}

/* Index */
.welcome {
  background: url("../images/landingPageBG.jpg") center bottom/cover no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
}

.welcome__btn-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  width: 80vw;
  position: absolute;
  bottom: 22vh;
  gap: 10px;
}

.welcome__btn:hover {
  background-color: var(--hover-btn);
  cursor: pointer;
}

/* TODO Write the explanation and update bg */
.explanation {
  background: url("../images/explanationBG.jpg") center bottom/cover no-repeat;
  display: flex;
  padding: 0 25px 25px 0;
  align-items: flex-end;
  justify-content: flex-end;
}

/* game */
.game {
  display: grid;
  grid-template-columns: 1fr 150px;
}

[data-type="sky"] {
  background: var(--sky);
}
