* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "minecraft", sans-serif;
}

.page {
  height: 100vh;
}

.welcome {
  background: url("../images/landingPageBG.jpg") center bottom/cover no-repeat;
}

.explanation {
  background: url("../images/explanationBG.jpg") center bottom/cover no-repeat;
}
