.hidden {
  display: none !important;
}

/* colors */
.--txt-color-secondary {
  color: var(--secondary-color);
}

.--txt-color-primary {
  color: var(--primary-color);
}

.--bg-color-primary {
  background-color: var(--primary-color);
}

.--bg-color-secondary {
  background-color: var(--secondary-color);
}

.--bg-color-hover-btn {
  background-color: var(--hover-btn);
}

.--bg-color-red {
  background-color: #800419;
}

.--secondary-color-border {
  border: 1px var(--secondary-color) solid;
}

.--red-color-border {
  border: #800419 1px solid;
  outline: #800419 1px solid;
}

/* font size */
.--font-size-4rem {
  font-size: 4rem;
}

.--font-size-3-5rem {
  font-size: 3.5rem;
}

.--font-size-3rem {
  font-size: 3rem;
}

.--font-size-2rem {
  font-size: 2rem;
}

.--font-size-1-4rem {
  font-size: 1.4rem;
}

/* margin & padding */
.--padding-10px {
  padding: 10px;
}
